<app-header-backedit>

</app-header-backedit>

<ion-content class="ion-padding">

  <br>

  <ion-item>
    <ion-label position="stacked">
      Nueva contraseña:
    </ion-label>
    <ion-input type="password" [(ngModel)]="newPassword" placeholder="Nueva contraseña"></ion-input>
  </ion-item>

  <br>

  <ion-item>
    <ion-label position="stacked">
      Vuelve a escribirla:
    </ion-label>
    <ion-input type="password" [(ngModel)]="password" placeholder="Nueva contraseña"></ion-input>
  </ion-item>

  <br>

  <ion-button (click)="recoverPass(newPassword, password)" expand="block" fill="solid" shape="round">
    Enviar
  </ion-button>

</ion-content>
