<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/password" (click)="cerrarModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Verificación</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" color="white">

  <h1 class="ion-text-center">Código de Verificación</h1>
  <br>
      <ion-text color="dark">Para completar tu registro por favor
          introduce el código de activación de 6 dígitos que se envio al +52 {{celular}}.</ion-text>
      <br>
          <br>
              <ion-grid>
                  <ion-row>
                      <ion-col>
                          <ion-item color="transparent" style="background-color: #e7fbfd; border-radius: 7px;">
                              <ion-input type="tel" maxlength="6" color="secondary" [(ngModel)]="code"  style="font-size: 18px;"></ion-input>
                          </ion-item>
                      </ion-col>
                  </ion-row>
              </ion-grid>
              <p class="ion-text-center" style="font-size: 14px;"><a (click)="resendSMS()"><ins>Reenviar código</ins></a></p>
              <ion-button
                  (click)="verify(code)"
                  style="margin-top: 30px"
                  color="secondary"
                  expand="block"
                  size="default">Enviar</ion-button>

          </ion-content>