<app-header>
  
</app-header>

<ion-content class="ion-padding">

  <div class="avatar">
    <p class="ion-text-center" style="font-size: 1.875rem; color: white; font-weight: bolder;">
      JX
    </p>
  </div>

  <ion-card >

    <ion-item>
        <ion-card-title style="font-size: 1.2rem; font-weight: bold; " >
          Informacion Personal
        </ion-card-title>
        <ion-icon slot="end" name="create" color="secondary" (click)="editProfile()"></ion-icon>
    </ion-item>

    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text style=" font-size: 1.1rem; ">
            Nombre:
          </ion-text>
          <p style=" font-size: 0.95rem; ">
            {{nombre}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text style=" font-size: 1.1rem; ">
            Correo: 
          </ion-text>
          <p style=" font-size: 0.95rem; ">
            {{correo}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text style=" font-size: 1.1rem; ">
            Celular:
          </ion-text>
          <p style=" font-size: 0.95rem; ">
            +52 1 {{celular}}
          </p>
        </ion-label>
      </ion-item>      
    </ion-card-content>

</ion-card>

</ion-content>
