<app-header-back>

</app-header-back>

<ion-content class="ion-padding">

  <h2 class="ion-text-center">
    Ingresa puntos <br> 
    del cliente  
  </h2>

  <br>
  <br>

  <ion-item color="transparent" style="background-color: #e7fbfd; border-radius: 7px;">
    <ion-input class="ion-text-center" type="tel" color="secondary" [(ngModel)]="total"  style="font-size: 18px;" placeholder="Puntos del cliente"></ion-input>
  </ion-item> 

  <ion-button
    (click)="codigo()"
    style="margin-top: 30px"
    color="secondary"
    expand="block"
    size="default"
  >
    Enviar
  </ion-button>

</ion-content>