<ion-header no-border>

  <ion-toolbar color="transparent" style="background-color: white; border-radius: 0px 0px 25px 25px; box-shadow: 0px 3px 9px #70707020;">

    <ion-buttons slot="start">
      <ion-menu-button color="secondary" menu="perfil"></ion-menu-button>
    </ion-buttons>

    <ion-title id="titulo" class="ion-text-center">
      <img src="../../assets/img/g114.png" alt="image" style="height: 40px; margin: 5px 0px;"/>
    </ion-title>
    
    <ion-icon slot="end" name="person" color="secondary" size="large" routerLink="/perfil" style="margin-right: 4%;"></ion-icon>

  </ion-toolbar>

</ion-header>