<app-header>

</app-header>

<ion-content class="ion-padding">

  <ion-text class="ion-text-center" color="secondary">
    <h4>
      Insignias del Negocio
    </h4>
  </ion-text>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="popoverValoracion( $event )">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item color="transparent" *ngFor="let insignia of infoValoraciones">
    <ion-avatar class="imgAvatar">
      <img [src]="insignia.foto_perfil" />
    </ion-avatar>
    <ion-label>
      <ion-text class="ion-text-center" color="dark">
        <h2>
          {{ insignia.nombre_usuario }}
        </h2>
      </ion-text>
      <rating [(ngModel)]="insignia.rating" readonly="true"></rating>
    </ion-label>
  </ion-item>

</ion-content>
