<app-header>

</app-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text class="ion-text-center" color="secondary">
    <h4>
      Insignias del Negocio
    </h4>
  </ion-text>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Nuestro valor total <ion-text color="primary"> {{ dosDecimales }} </ion-text>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-item color="transparent" *ngFor="let insignia of infoValoraciones">
    <ion-avatar class="imgAvatar">
      <img [src]="insignia.foto_perfil" onerror="this.src='https://www.publicdomainpictures.net/pictures/280000/velka/not-found-image-15383864787lu.jpg'" />
    </ion-avatar>
    <ion-label>
      <ion-text class="ion-text-center" color="dark">
        <h2>
          {{ insignia.nombre_usuario }}
        </h2>
      </ion-text>
      <rating [(ngModel)]="insignia.rating" readonly="true"></rating>
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="popoverValoracion()">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
