
<ion-tabs>
  <ion-tab-bar id="ionTabBar" slot="bottom">
    <ion-tab-button tab="detalles">
      <ion-icon name="book"></ion-icon>
      <ion-label>
        Detalles
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="insignias">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>
        Insignias
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ubicacion">
      <ion-icon name="map"></ion-icon>
      <ion-label>
        Ubicación
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="opiniones">
      <ion-icon name="thumbs-up"></ion-icon>
      <ion-label>
        Opiniones
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="horarios">
      <ion-icon name="time"></ion-icon>
      <ion-label>
        Horarios
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="galeria">
      <ion-icon name="images"></ion-icon>
      <ion-label>
        Galería
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>