<app-header>
  
</app-header>

<ion-content>
  
  <ion-button (click)="scanQR()">Clic</ion-button>

  <ion-list>

    <ion-item *ngFor="let registro of dataService.guardados" (click)="openRegistro(registro)" detail>
      <ion-icon slot="start" [name]="registro.icon"></ion-icon>
      <ion-label>
        <h2>{{registro.text}}</h2>
        <p>{{registro.created | date: 'medium'}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-button (click)="idMetodoPago()" expand="block" fill="outline" shape="round">
    Pago
  </ion-button>

</ion-content>
