<ion-header>
  <ion-toolbar class="vayseColor" color="transparent">
      <ion-buttons slot="start">
          <ion-menu-button color="light" menu="perfil"></ion-menu-button>
      </ion-buttons>
      <ion-title id="titulo" style="color: white">
          <img
              src="../../assets/img/logo2-blanco.png" alt="" style="max-width: 35%; margin-top: 3%; margin-bottom: 3%;"></ion-title>
      <ion-icon slot="end" name="person" color="light" size="large" routerLink="/perfil" style="margin-right: 4%;"></ion-icon>
    </ion-toolbar>
  </ion-header>

<ion-content>
  
  <ion-button (click)="scanQR()">Clic</ion-button>

  <ion-list>

    <ion-item *ngFor="let registro of dataService.guardados" (click)="openRegistro(registro)" detail>
      <ion-icon slot="start" [name]="registro.icon"></ion-icon>
      <ion-label>
        <h2>{{registro.text}}</h2>
        <p>{{registro.created | date: 'medium'}}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-button (click)="idMetodoPago()" expand="block" fill="outline" shape="round">
    Pago
  </ion-button>

</ion-content>
