<app-back-modal>

</app-back-modal>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-card *ngFor="let e of arrElement">
      <ion-row class="ion-justify-content-center">
        <ion-col class="img-content" size="6">
          <img class="ventaImg" src="../../../assets/img/shopping-bag.png" alt="">
        </ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-title class="ion-text-center" color="primary">
          Información detallada.
        </ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          <h5>
            Vayse Coins ganados: <ion-text color="primary"> ${{e.saldo_vayse_ganado}} </ion-text>
            <br>
            Vayse Coins usados: <ion-text color="primary"> ${{e.saldo_vayse_usado}} </ion-text>
          </h5>
        </ion-card-subtitle> 
      </ion-card-header>
      <ion-card-content class="ion-text-justify">
        Negocio: <ion-text color="primary"> {{nombreNegocio}} </ion-text>
        <br>
        Metodo pago: <ion-text color="primary"> {{idMetodoPago}} </ion-text>
        <br>
        Cantdiad pagada: <ion-text color="primary"> ${{e.total}} </ion-text>
        <br>
        Día: <ion-text color="primary"> {{e.fecha_venta}} </ion-text>
        <br>
        Hora: <ion-text color="primary"> {{e.hora_venta}} </ion-text>
      </ion-card-content>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button (click)="cerrar()" color="secondary" expand="block" fill="solid" shape="round">
          Regresar
        </ion-button>
      </ion-col>
    </ion-row>
  
  </ion-grid>

</ion-content>
