// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  
  /** transparent **/
  --ion-color-transparent: #d1000000;
  --ion-color-transparent-rgb: 244, 244, 244;
  --ion-color-transparent-contrast: #ffffff;
  --ion-color-transparent-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-shade: #d7d8da00;
  --ion-color-transparent-tint: #f5f6f900;

}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent) !important;
  --ion-color-base-rgb: var(--ion-color-transparent-rgb) !important;
  --ion-color-contrast: var(--ion-color-transparent-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-transparent-shade) !important;
  --ion-color-tint: var(--ion-color-transparent-tint) !important;
}

.vayse {
  background: url('../assets/img/background.png')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.vayse2 {
  background: url('../assets/img/background2.png')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.vayseColor{
  background: rgba(12,210,232,1);
  background: -moz-linear-gradient(top, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,210,232,1)), color-stop(100%, rgba(9,182,201,1)));
  background: -webkit-linear-gradient(top, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  background: -o-linear-gradient(top, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  background: -ms-linear-gradient(top, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  background: linear-gradient(to bottom, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cd2e8', endColorstr='#09b6c9', GradientType=0 );
}

.avatar{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgba(12,210,232,1);
  background: -moz-linear-gradient(top, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,210,232,1)), color-stop(100%, rgba(9,182,201,1)));
  background: -webkit-linear-gradient(top, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  background: -o-linear-gradient(top, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  background: -ms-linear-gradient(top, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  background: linear-gradient(to bottom, rgba(12,210,232,1) 0%, rgba(9,182,201,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cd2e8', endColorstr='#09b6c9', GradientType=0 );  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0px auto;
  margin-top:3%;
}