<ion-content >

  <div class="ion-padding vayse2"  style="height: 55%">

    <ion-buttons slot="start" color="transparent">
      <ion-back-button defaultHref="." style="color: #0cd1e8"></ion-back-button>
    </ion-buttons>  
    <img class="" src="../../assets/img/logo.png" alt="" style="max-width: 50%; margin-left: 25%; margin-top: 7%;">
    <!--<p id="titulo" class="ion-text-center" style="font-size:40px ;color: white;">Moto Hub</p>-->
  </div>
    
  <div class="ion-padding" style="background: white; height: 45%">
    <br><br>
    <ion-item>
      <ion-label position="stacked" color="dark">Correo</ion-label>
      <ion-input type="text" [(ngModel)]="correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="dark">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <p class="ion-text-center" routerLink="/password" style="color:#222428">¿Olvidaste tu contraseña?</p>
    <ion-button (click)="entrar(correo, password)" color="secondary" expand="block" size="default" style="margin-top: 30px; ">
      Iniciar sesión
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="ion-text-center">¿No tienes cuenta?<ion-text color="secondary" routerLink="/signin"> Registrarse</ion-text></p> 
  </ion-toolbar>
</ion-footer>