

<ion-content>

  <div class="ion-padding vayse2"  style="height: 55%">

    <ion-buttons slot="start" color="transparent">
      <ion-back-button defaultHref="." style="color: #0cd1e8"></ion-back-button>
    </ion-buttons>  
    <img src="../../assets/img/logo.png" alt="" style="max-width: 50%; margin-left: 25%; margin-top: 3%; margin-bottom: 3%;">

  </div>

  <div class="ion-padding" style="background: white; height: 45%">

    <ion-item>
      <ion-label position="stacked" color="dark">Nombre Completo</ion-label>
      <ion-input type="text" [(ngModel)]="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="dark">Celular</ion-label>
      <ion-input type="tel" [(ngModel)]="celular"></ion-input>
    </ion-item>

    <br>

    <ion-item color="transparent">
      <ion-text class="ion-text-center" color="danger">
        Se necesita su número de celular ha futuro poder recuperar o cambiar su contraseña.
      </ion-text>
    </ion-item>

    <ion-button (click)="register(nombre, celular)" color="secondary" expand="block" size="default" style="margin-top: 30px; ">
      Siguiente
    </ion-button>

  </div>

</ion-content>
