
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-text class="ion-text-center" color="secondary">
        <h3>
          Deja tu Insignia
        </h3>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      Para nosotros es muy importante saberlo.
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-col size="10">
      <rating [rate]="rating" readonly="false" size=""></rating>
    </ion-col>
  </ion-row>
</ion-grid>
