

<ion-content class="ion-padding vayse" color="transparent">

  <ion-grid fixed>
    
    <ion-row class="ion-justify-content-center">
      <ion-col class="img-content" size="8">
        <img class="logo-vayse" src="../../../assets/img/logo.png" alt="GL">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button class="login" routerLink="/login" color="secondary" expand="block" size="default"><span>Iniciar Sesión</span></ion-button>
        <ion-button class="sing-up" routerLink="/signin" color="secondary" expand="block" size="default">Registrarse</ion-button>
        <p class="ion-text-center" routerLink="/password" style="color: #222428;">¿Olvidaste tu contraseña?</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
        <p class="ion-text-center">2020&copy; Vayse</p>
  </ion-toolbar>
</ion-footer>