

<ion-content class="ion-padding vayse" color="transparent">

  <img class="" src="../../../assets/img/logo.png" alt="GL" style="max-width: 50%; margin-left: 25%; margin-top: 20%;">
  <ion-button routerLink="/login" style="margin-top: 40%" color="secondary" expand="block" size="default"><span>Iniciar Sesión</span></ion-button>
  <ion-button routerLink="/signin" style="margin-top: 10px" color="secondary" expand="block" size="default">Registrarse</ion-button>
  <p class="ion-text-center" routerLink="/password" style="color: #222428;">¿Olvidaste tu contraseña?</p>

</ion-content>

<ion-footer>
  <ion-toolbar>
        <p class="ion-text-center">2020&copy; Vayse</p>
  </ion-toolbar>
</ion-footer>