<app-header>
  
</app-header>

<ion-content class="ion-padding">

  <ion-card>
    <img class="fondoImg" src="../../../assets/img/logo2-blanco.png" alt="">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">
        Problemas con la app  
      </ion-card-subtitle>
      <ion-card-title class="ion-text-center">
        Contáctanos
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Te agradecemos tu interés en contactarnos. 
      <br>
      Nos encantará poder contestar cualquier pregunta que puedas tener acerca de Vayse. 
      <br>
      Estamos a tu disposición por medio de este canal. 
      <br>
      <ion-text class="ion-text-center" color="secondary">
        <h2>
          info@vayse.mx
        </h2>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
