<ion-content >

  <div class="ion-padding vayse2"  style="height: 55%">

    <ion-buttons slot="start" color="transparent">
      <ion-back-button defaultHref="/" style="color: #0cd1e8"></ion-back-button>
    </ion-buttons>  
    <ion-row class="ion-justify-content-center">
      <ion-col class="img-content" size="6">
        <img class="logo-vayse" src="../../../assets/img/logo.png" alt="GL">
      </ion-col>
    </ion-row>
  </div>
    
  <div class="ion-padding" style="background: white; height: 45%">
    <ion-item>
      <ion-label position="stacked" color="dark">Correo</ion-label>
      <ion-input type="text" [(ngModel)]="correo" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="dark">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password1" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="dark">Confirmar contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password2" required></ion-input>
    </ion-item>
    <ion-button (click)="signin(correo, password1, password2)" color="secondary" expand="block" size="default" style="margin-top: 30px; ">
      Siguiente
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p class="ion-text-center">¿Ya tienes cuenta?<ion-text color="secondary" routerLink="/login"> Iniciar Sesión</ion-text></p> 
  </ion-toolbar>
</ion-footer>