<ion-header>
  <ion-toolbar class="vayseColor" color="transparent">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="." style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;">Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
  
  

<ion-content class="ion-padding " color="white">

  <br>
  <ion-text color="dark">Ingresa tu número de celular para recuperar tu contraseña:</ion-text>
  <br><br>
  <ion-item>
    <ion-label position="stacked" color="{{label}}">(*) Celular</ion-label>
    <ion-input type="tel" maxlength="10" [(ngModel)]="celular"></ion-input>
  </ion-item>
  <p style="color: #A50202;font-size: 10px;" [hidden]=hide1>* Favor de llenar los campos correctamente</p>
  <ion-button style="margin-top: 30px" color="secondary" expand="block" size="default" (click)="recoverPassword(celular)">Recuperar</ion-button>
    
</ion-content>