<app-header>
  
</app-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="vayseColor">
    <ion-card-header>
        <ion-card-title class="ion-text-center" style="color: white;">
            Vayse Coins
        </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p class="ion-text-center" style="font-size: 50px; color: white;">${{saldo}}</p>
      <p class="ion-text-center" style="color: white;">Disponible</p>
    </ion-card-content>
  </ion-card>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col *ngFor="let c of elementos" size="6">
        
        <ion-button 
          (click)="subCategorias(c.id_categoria)"
          class="vayseColor" 
          color="transparent" 
          expand="block"
          style="
            height: 100%; 
            width: 100%;"
          > 
          <div 
            style="
              margin-top: 15%; 
              margin-bottom: 15%;                           
            ">
            <ion-icon color="light" name="{{c.icono_categoria}}" size="large"></ion-icon><br>
            <ion-label color="light">{{c.nombre_categoria}}</ion-label>
          </div>
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
