<ion-header>
  <ion-toolbar class="vayseColor" color="transparent">
    <ion-buttons slot="start">
        <ion-back-button style="color: white;" defaultHref="/pago-normal" (click)="cerrarModal()"></ion-back-button>
    </ion-buttons>
    <ion-title id="titulo" style="color: white">
      <img src="../../assets/img/logo2-blanco.png" alt="" style="max-width: 35%; margin-top: 3%; margin-bottom: 3%;"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="ion-text-center">Ingrese código de aprobación</h2>

  <h5 class="ion-text-center">Venta de ${{cantidad}}</h5>
  <h5 class="ion-text-center"> PAGO NORMAL</h5>
  <br>

  <ion-item color="transparent" style="background-color: #e7fbfd; border-radius: 7px;">
    <ion-input type="tel" color="secondary" [(ngModel)]="codigo"  style="font-size: 18px;" placeholder="Ingrese código"></ion-input>
  </ion-item> 

  <ion-button
    style="margin-top: 30px"
    color="secondary"
    expand="block"
    size="default">Aprobar Venta</ion-button>

</ion-content>
